{% extends "_layouts/layout.twig" %}

{% set headline = entry.title %}
{% set claim = entry.claim %}
{% set text = entry.text %}

{% set mainImage = entry.mainImage.with(["image:image"]).all() %}
{% set hasImage = false %}
{% if mainImage|length %}
  {% set figure = {
    image: mainImage[0].image[0],
    caption: mainImage[0].caption
  } %}
  {% set hasImage = true %}
{% endif %}
{% set round = entry.round %}
{% set teamMembers = entry.projectTeamMembers %}
{% set categories = entry.projectCategories %}
{% set links = entry.projectLinks %}
{% set status = entry.projectStatus[0].label %}


{% block content %}
  <article>
    <header class="mb-4">
      {% include "_rich-text/standard" with { text: "<h1>#{headline}</h1>" } only %}
      {% include "_rich-text/standard" with { text: "<p>#{claim}</p>" } only %}
    </header>

    {% include "_rich-text/standard" with { text: text } only %}

    <aside class="my-4">
      <p>{{ "Project Status: {status}"|t({"status": status}) }}</p>
      <p>{{ "Round: {round}"|t({"round": round}) }}</p>
      <p>{{ categories|join(", ") }}</p>
    </aside>

    {% if teamMembers|length %}
      <p class="my-4">
        <strong>{{ "Team Members"|t }}:</strong> {{teamMembers}}
      </p>
    {% endif %}

    {% if links|length %}
      <p class="my-4">
        <strong>{{ "Links"|t }}:</strong>
        <ul class="list-disc">
          {% for link in links %}
            <li>
              <a class="text-link" href={{link.linkURL}}>{{ link.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}

    {% if hasImage %}
      <div class="my-4">
        {% include "_modules/figure" with { figure: figure, size: "textCol" } only %}
      </div>
    {% endif %}

  </article>
{% endblock %}
