{% set baseUrl = alias('@web') ~ '/' %}
{% header "Link: <#{baseUrl}>; rel=dns-prefetch;,<#{baseUrl}>; rel=preconnect; crossorigin;" %}

<!DOCTYPE html>
<html lang="{{ craft.app.language |slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="dns-prefetch" href="{{ baseUrl }}">
    <link rel="preconnect" href="{{ baseUrl }}" crossorigin="anonymous">

    <link rel="alternate" type="application/rss+xml" href="{{ url('feed.rss') }}">

    <meta name="theme-color" content="#28313d">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#28313d">

    {% if extraHead is defined %}
      {{ extraHead }}
    {% endif %}

    {{ craft.vite.script(
      "src/js/main.js",
      false,
    ) }}

    {{ settings.trackingHead|raw }}
    {{ head() }}
  </head>

  <body class="dark:antialiased font-inter bg-white text-black selection:bg-gray selection:text-white dark:bg-gray-800 dark:text-white dark:selection:text-gray dark:selection:bg-white">
    <div class="max-w-4xl mx-auto p-2 md:p-4 lg:p-6">
      {% include "_modules/main-nav" only %}
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
    {{ settings.trackingBody|raw }}
    {{ endBody() }}
  </body>
</html>
