{% set homepage = craft.entries.section("homepage").one() %}
{% set blogIndex = craft.entries.section("blogIndex").one() %}
{% set projectsIndex = craft.entries.section("projectsIndex").one() %}

<header class="mb-4 md:mb-6 lg:mb-8">
  <nav class="flex flex-col gap-1 lg:flex-row lg:justify-between">
    <ul class="flex flex-row gap-2">
      <li>
        <a class="text-link" href="{{ homepage.getUrl() }}">{{ "Home"|t }}</a>
      </li>
      <li>
        <a class="text-link" href="{{ blogIndex.getUrl() }}">{{ "Blog"|t }}</a>
      </li>
      <li>
        <a class="text-link" href="{{ projectsIndex.getUrl() }}">{{ "Projects"|t }}</a>
      </li>
    </ul>
    <div>
      {% include "_modules/lang-switch.twig" %}
    </div>
    <display-toggle class="hidden" data-light-mode-label="{{ "Switch to light mode"|t }}" data-dark-mode-label="{{ "Switch to dark mode"|t }}">
      <button class="inline-block text-link cursor-pointer"></button>
    </display-toggle>
  </nav>
</header>
