{% set offset = 1 %}
{% set itemClasses = "min-w-[50px] mr-1 lg:text-body-20" %}
{% set spacerClasses = "mx-2" %}
{% set activeClasses = "font-bold opacity-50" %}

{% if pagination.totalPages > 1 %}
  <div class="flex flex-row items-center mt-4 lg:mt-8">
    {% apply spaceless %}
      {% if pagination.prevUrl %}
        <a class="{{ itemClasses }}" href="{{ pagination.prevUrl }}">‹</a>
      {% endif %}
      {% if pagination.currentPage > offset + 1 %}
        <a class="{{ itemClasses }}" href="{{ pagination.firstUrl }}">01</a>
      {% endif %}
      {% if pagination.currentPage > (offset + 2) %}
        <span class="{{ itemClasses }} {{ spacerClasses }}">…</span>
      {% endif %}
      {% for page, url in pagination.getPrevUrls(offset) %}
        <a class="{{ itemClasses }}" href="{{ url }}">{{ (page < 10 ? '0') ~ page }}</a>
      {% endfor %}
      <span class="{{ itemClasses }} {{ activeClasses }}">
        {{ (pagination.currentPage < 10 ? '0') ~ pagination.currentPage }}
      </span>
      {% for page, url in pagination.getNextUrls(offset) %}
        <a class="{{ itemClasses }}" href="{{ url }}">{{ (page < 10 ? '0') ~ page }}</a>
      {% endfor %}
      {% if pagination.totalPages > pagination.currentPage + (offset + 1) %}
        <span class="{{ itemClasses }} {{ spacerClasses }}">…</span>
      {% endif %}
      {% if pagination.totalPages > pagination.currentPage + offset %}
        <a class="{{ itemClasses }}" href="{{ pagination.lastUrl }}">
          {{ (pagination.totalPages < 10 ? '0') ~ pagination.totalPages }}
        </a>
      {% endif %}
      {% if pagination.nextUrl %}
        <a class="{{ itemClasses }}" href="{{ pagination.nextUrl }}">›</a>
      {% endif %}
    {% endapply %}
  </div>
{% endif %}
